body{
    background-color: #F5F0DC;
    font-family: Helvetica,Arial, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    background-color: #B3A742;
    background: -webkit-linear-gradient(top,#9C8F67,#C7BE9B 30%);
    background: -moz-linear-gradient(top,#9C8F67,#C7BE9B);
    background:  -o-linear-gradient(top,#9C8F67,#C7BE9B);
    background: -ms-linear-gradient(top,#9C8F67,#C7BE9B);
    border: 1px solid #000;
    border-radius: 15px;
    padding: 5px;
    color: #FFF;
}

#banner{
    position: fixed;
    top: 0;
    right: 0;
}

#tb-nutrientes{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #000;
}

#tb-nutrientes th{
    background-color: #fff;
}

#tb-nutrientes tr:nth-child(odd){
    background-color: #F8EAB3;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #FFF;
}

nav{
    width: 200px;
    float: left;
}

nav ul li{
    background-color: #c7be9b;
    margin-bottom: 3px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

nav ul{
    list-style: none;
    padding: 0px;
}

nav ul li:hover{
    background-color: #9c8f67;
}

#conteudo{
    width: 740px;
    float:right;
}

#topo img{
    width: 230px;
    height: 230px;
}

#topo{
    text-align: center;
}


figure{

    background-color: #fff;
    width: 450px;
    text-align: center;
    padding: 15px;
    font-family: 'Comic Sans MS', cursive;
    border: 1px solid #000;
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.7)    ;
    -ms-box-shadow:5px 5px 3px rgba(0,0,0,0.7)    ;
    -o-box-shadow:5px 5px 3px rgba(0,0,0,0.7)    ;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.7)    ;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s ;
    -ms-transition: 0.2s ;
    -o-transition: 0.2s ;
    transition: 0.2s ;
}

figure:hover{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}