h2{
    background-color: #5599DD;
    color:#ddd;
    padding: 5px;
}

.exp{
    text-indent: 50px;
}

#email{
    text-decoration: underline;
    font-style: italic;
}

body{
    font-family: Ubunto, Helvetica;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#cabecalho{
    text-align: center;
}